= render :partial => '/shared/question', :locals => { :unit => @unit, :progress => remaining_learnings }

#answer_wrapper
  #answer
    %p#answer_content
      = render :partial => 'units/show_answer', :locals => { :unit => @unit }
    %ul.unit_actions

      %li.secondary
        = form_for @learning, :url => unit_learnings_path(@unit), :html => { :confirm => "Are you sure you want to skip this item?  This will defer it indefinitely." } do |f|
          = f.hidden_field :deferred, :value => true
          = f.hidden_field :unit_id
          = f.hidden_field :started_at, :value => Time.zone.now
          = image_submit_tag 'defer.png'
          
      %li
        = form_for @learning, :url => unit_learnings_path(@unit), :html => { :key => 'n' } do |f|
          = f.hidden_field :unit_id
          = f.hidden_field :started_at, :value => Time.zone.now
          = image_submit_tag 'next.png'
          
- content_for :shortcuts do
  %h4 Keyboard shortcuts:
  %ul
    %li Next item: 'n'
    %li Show/Hide hint: 'h'
    %li
      Add/Edit hint:
      = link_to_function "'a'", "$('#hint').editHint();", :key => 'a'
    %li Quit: 'q'