- learning = @learnings.first

= render :partial => '/shared/question', :locals => { :unit => learning.unit, :progress => remaining_todays_review }

#answer_wrapper
  #answer.hidden
    %p#answer_content
      = render :partial => 'units/show_answer', :locals => { :unit => learning.unit }
    %ul.unit_actions
      %li
        = form_for learning, :url => review_learning_path(learning), :html => { :key => 'n' } do |f|
          = f.hidden_field :started_at, :value => Time.zone.now
          = hidden_field_tag :page, @learnings.current_page
          = image_submit_tag 'next.png'
      
  = render 'units/answer_tab'

- content_for :shortcuts do
  %h4 Keyboard shortcuts:
  %ul
    %li Show answer: 's'
    %li Next item: 'n'
    %li Show/Hide hint: 'h'
    %li
      Add/Edit hint:
      = link_to_function "'a'", "$('#hint').editHint();", :key => 'a'
    %li Quit: 'q'