%p
  %label Login
  %br
  = f.text_field :login

%p
  %label Email
  %br
  = f.text_field :email
  
%p
  %label Your timezone
  %br
  = f.time_zone_select :time_zone, TimeZone.us_zones

%p
  %label How many words do you want to learn per day (no more than 20)?
  %br
  = f.text_field :daily_units

%p
  %label Password
  %br
  = f.password_field :password

%p
  %label Password confirmation
  %br
  = f.password_field :password_confirmation