!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title= (yield(:title)) || "Learn Italian"
    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
    %script{:src => "/javascripts/unit.js", :type => "text/javascript"}
    %link{:href=>"/stylesheets/sass/layout.sass", :rel=>"stylesheet", :type=>"text/css"}/
    %link{:href=>"/stylesheets/sass/unit.sass", :rel=>"stylesheet", :type=>"text/css"}/
  %body    
    #page_wrapper
      #page
      
        #header_wrapper
          #header
            %h1= yield(:page_header) || "Italian"
            #navigation_wrapper
              #navigation
                %ul
                  %li
                    %a{:href => '/subjects/show'} Today's material
                  %li
                    %a{:href => '#'} Account settings
                  %li
                    %a{:href => '#'} Logout
                    
        #main_wrapper
          #main
            - if not yield(:page_title).nil?
              %h2= yield(:page_title)
            
            #content_wrapper              
              #content
                = yield
            
            - if not yield(:shortcuts).nil?
              #shortcuts_wrapper
                #shortcuts
                  = yield :shortcuts
                                
        #footer_wrapper
          #footer
            #footer_links
              %ul
                %li
                  %a{:href => '#'} Help
                %li
                  %a{:href => '#'} About
                %li
                  %a{:href => '#'} Contact
            %p
              copyright yFactorial, LLC 2008