- content_for :callout do

  #todays_progress
    %h3 Todays highlights
    %p.highlight
      = raw(todays_review_callout(@subject))
      = raw(review_shift_callout)
    %p.highlight= raw(todays_learning_callout(@subject))
    %a.swap{:href => '#overall_progress', :from => '#todays_progress'} see overall highlights
    .clear

  #overall_progress.hidden
    %h3 Overall highlights
    - if current_user.started?(@subject)
      %p.highlight= raw(subject_progress(@subject))
      - if current_user.reviewing_yet?(@subject)
        %p.highlight= raw(subject_retention(@subject))
    %a.swap{:href => '#todays_progress', :from => '#overall_progress'} see today's highlights
    .clear