- content_for(:page_title) do
  = "Today's #{@subject.title} lesson"
- content_for(:page_header) do
  = @subject.title
  
#subject_actions
  %p.first= review_button(@subject)
  %p.break
    %em then
  %p= learn_button(@subject)

= render :partial => (show_instructions? ? 'instructions' : 'callout')