= render :partial => '/shared/question', :locals => { :unit => @review.unit, :progress => remaining_reviews }

#answer_wrapper
  #answer.hidden
    %p#answer_content
      = render :partial => 'units/show_answer', :locals => { :unit => @review.unit }
    %ul.unit_actions

      %li
        - form_for @review, :html => { :key => 'm' } do |f|
          = f.hidden_field :reviewed, :value => true
          = f.hidden_field :success, :value => false
          = f.hidden_field :started_at, :value => Time.zone.now
          = image_submit_tag 'missedit.png'
          
      %li
        - form_for @review, :html => { :key => 'g' } do |f|
          = f.hidden_field :reviewed, :value => true
          = f.hidden_field :success, :value => true
          = f.hidden_field :started_at, :value => Time.zone.now
          = image_submit_tag 'gotit.png'
      
  %p#show_answer.tab
    %a.show{:href => '#answer', :hide => '#show_answer', :key => 's' }
      %img{:src => '/images/show.png'} Show answer
      
- content_for :shortcuts do
  %h4 Keyboard shortcuts:
  %ul
    %li Show answer: 's'
    %li Show/Hide hint: 'h'
    %li
      Add/Edit hint:
      = link_to_function "'a'", "$j('#hint').editHint();", :key => 'a'
    %li Got it: 'g'
    %li Missed it: 'm'
    %li Quit: 'q'