- @review = @reviews.first

= render :partial => '/shared/question', :locals => { :unit => @review.unit, :progress => remaining_missed_reviews(@reviews.current_page) }

#answer_wrapper
  #answer.hidden
    %p#answer_content
      = render :partial => 'units/show_answer', :locals => { :unit => @review.unit }
    %ul.unit_actions
      %li
        = form_for @review, :url => review_review_path(@review), :html => { :key => 'n' } do |f|
          = f.hidden_field :started_at, :value => Time.zone.now
          = hidden_field_tag :page, @reviews.current_page
          = image_submit_tag 'next.png'
      
  %p#show_answer.tab
    %a.show{:href => '#answer', :hide => '#show_answer', :key => 's'}
      %img{:src => '/images/show.png'} Show answer
      
- content_for :shortcuts do
  %h4 Keyboard shortcuts:
  %ul
    %li Show answer: 's'
    %li Show/Hide hint: 'h'
    %li
      Add/Edit hint:
      = link_to_function "'a'", "$('#hint').editHint();", :key => 'a'
    %li Next: 'n'
    %li Missed it: 'm'
    %li Quit: 'q'