!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title= "PTLS Learning System"
    = stylesheet_link_tag "reset", "layout", :cache => "cache/bare"
  %body    
    #page_wrapper
      #page
      
        #header_wrapper
          #header
            %h1
              %a{:href => subjects_path} PTLS
            #navigation_wrapper
              #navigation
                %ul
                  - if logged_in?
                    %li= link_to "Account settings", edit_user_path(current_user)
                    %li= link_to("Logout", session_path, :method => :delete)                  
                  -else
                    %li= link_to("Login", new_session_path)
                    %li= link_to("Register", new_user_path)
                    
        #main_wrapper
          #main
            - if not yield(:page_title).nil?
              %h2= yield(:page_title)
              
            - if messages?
              #message_wrapper
                = messages
            
            #content_wrapper              
              #content
                = yield
            
            - if not yield(:instructions).nil?
              #instructions_wrapper
                #instructions
                  = yield :instructions
           
        = render :partial => '/layouts/footer'